	<include file = "Public/header" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<js file="__ROOT__/Public/Ueditor/ueditor.config.js"/>  
	<js file="__ROOT__/Public/Ueditor/ueditor.all.min.js"/>  
	<js file="__ROOT__/Public/Ueditor/lang/zh-cn/zh-cn.js"/>  
	<script type="text/javascript" charset="utf-8">  
	   window.UEDITOR_HOME_URL = "__PUBLIC__/Ueditor/";  
	    $(document).ready(function () {  
	      UE.getEditor('info', {  
	      initialFrameHeight: 500,  
	      initialFrameWidth: 800,  
	      serverUrl: "{:U(MODULE_NAME.'/Index/save_info')}"  
	    });  
	  });    
	</script>
	<body>
		<div style="margin: 15px;">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				<legend>公司简介</legend>
			</fieldset>

			<form class="layui-form" action="{:U('Admin/Index/exitContent')}" enctype="multipart/form-data" method="post">
				<if condition="$data.language == 0 ">
					<input type="hidden" name="id" value="1">
				    <else /> 
					<input type="hidden" name="id" value="2">
				</if>
				<div class="layui-form-item">
					<label class="layui-form-label">公司图片</label>
					<div class="layui-input-block">
						<input type="file" name="name"  lay-verify="title" autocomplete="off" placeholder="请输入公司名称" class="layui-input" >
					</div>
					<div style="text-align: center;">
						<img src="__PUBLIC__/Uploads/{$data.imgurl}" alt="" style="width: 300px;">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">公司图片</label>
					<div class="layui-input-block">
					<textarea name="content" id="info" style="width:1000px;height:500px;">{$data.content}</textarea>  
					</div>
				</div>
				<div style="padding: 20px;">
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<input type="submit" value="立即提交" class="layui-btn">
					</div>
				</div>
			</form>
		</div>
	</body>

</html>