<include file="Public/header" />
</head>
<body>
<div class="margin clearfix">
 <div class="article_style">
  <div style="margin: 15px;">
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>网站的基本信息</legend>
      </fieldset>

      <form class="layui-form" method="post" action="{:U('Admin/Index/exitpassword')}" onsubmit = "return checkUser();" id = "userMsg">
        <div class="layui-form-item">
          <label class="layui-form-label">原密码</label>
          <div class="layui-input-block">
            <input type="password" id="oldpassword" name="oldpassword" value="" lay-verify="title" autocomplete="off" class="layui-input">
          </div>
        </div>
          <div class="layui-form-item">
          <label class="layui-form-label">新密码</label>
          <div class="layui-input-block">
            <input type="password" id="password" name="password" value="" lay-verify="title" autocomplete="off" class="layui-input">
          </div>
        </div>
          <div class="layui-form-item">
          <label class="layui-form-label">确认密码</label>
          <div class="layui-input-block">
            <input type="password" id="newpassword" name="newpassword" value="" lay-verify="title" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input type="submit" value="立即提交" class="layui-btn">
          </div>
        </div>
      </form>
    </div>
 </div>
</div>
</body>
</html>
<script>
  function checkUser(){
   var oldpassword = document.getElementById("oldpassword").value;
   var password = document.getElementById("password").value;
   var newpassword = document.getElementById("newpassword").value;

   if(oldpassword == ""  ){
     alert("原密码不能为空");
     return false;
   }

  if(password == ""  ){
     alert("密码不能为空");
     return false;
   }
  if(newpassword == ""  ){
     alert("确认密码不能为空");
     return false;
   }
   if(password!=newpassword){
      alert("两次密码不一致");
     return false;
   }

  //document.getElementById("userMsg").submit();
}
</script>
