.main{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    position: relative;
}
.content{
    width: 1200px;
    height:auto;
    margin: 20px  auto;
    background-color: #ffffff;
    padding-bottom: 50px;
}
#header{
    background-color: white!important;
}
.left{
    width: 300px;
    height: 400px;
    float: left;
    border: 1px solid #C0C0C0;
    margin-top: 70px;
    margin-left: 20px;
}
.pic_L{
    position: relative;
    width:280px;
    height: 300px;
    margin-left: 10px;
    margin-top: 50px;
    overflow: hidden;
}
.left img{
    width:280px;
    height: 300px;
}
.mask{
    width: 140px;
    height: 150px;
    background: rgba(255, 255, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    display: none;
}
.right{
    width: 790px;
    height:auto;
    float: left;
    margin-left: 40px;
    margin-top: 58px;
    position: relative;
}

#hidr{
    width: 420px;
    height: 450px;
    background-color: red;
    position:absolute;
    overflow: hidden;
    display: none;
    left: 0;
    top: 0;
}
#hidr img{
    width: 560px;
    height: 600px;
}
.right h2{
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
    margin-left: 20px;
}
.r_head{
    width: 790px;
    height: 50px;
    border-bottom: 2px solid #4BB344;
}
.a0{
    display: inline-block;
    float: right;
    color: #4BB344;
    height: 50px;
    line-height: 70px;
    margin-right: 30px;
}
.prise{
    width: 500px;
    height: 60px;
    margin-top: 15px;
}
.prise0{
    width: 100px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}
.prise1{
    width: 200px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}
.yanse{
    width: 500px;
    height: auto;
}
.yanse0{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-top: 30px;
}
.yanse1{
    padding-top: 30px;
    width: 370px;
    height: auto;
    float: left;
}
.clea0{
    clear: both;
}
.yanse1 span{
    width: 170px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #DBDBDB;
    margin-bottom: 15px;
    margin-right: 7px;
    box-sizing: border-box;
}
.yanse1 span:hover{
    text-decoration: none;
    border: 1px solid  #4BB344;
    cursor:pointer;
}
.r_a0{
    width: 450px;
    height: 50px;
}
.r_a0 a{
    width: 150px;
    height: 35px;
    background-color: white;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    border:1px solid #4BB344;
}
.r_a1{
    background-color: #4BB344!important;
    color: white;
}
.r_a0 a:hover{
    background-color: #4BB344;
    color: white;
}
.in_p{
    width: 750px;
    height: auto;
    margin-top: 20px;
    border: 1px  dashed  #C0C0C0;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.clea{
    clear: both;
}
.right p{
    line-height: 30px;
    font-size: 16px;
}