input{border:none;}
/* ========== */
/* = 头部 = */
/* ========== */
.floatL{
	float:left;
}
#header{
	width:100%;
	height:135px;
}
.header{
	height:100px;
	padding:25px 0 10px 0;
}
/*logo*/
.header_logo{
	width:550px;
	height:100px;
}
.header_logo img{
	height:100%;
}
/*热线*/
.header_iphone{
	width:450px;
	height:50px;
	padding:25px 0;
}
.header_iphone p{
	width:200px;
	height:40px;
	float:left;
	line-height: 40px;
	text-align: center;
	border:2px solid rgb(75,179,68);
}
/*中英切换*/
.header_choose{
	width:200px;
	height:100px;
	line-height: 100px;
	text-align: right;
}
.black{color:black!important;}
.header_choose a{
	color:rgb(75,179,68);
}
/* ========== */
/* = 导航栏开始 = */
/* ========== */
#nav{
	width:100%;
	height:50px;
}
#nav ul{
	height:50px;
}
	/*服务热线专用*/
	.green{
		color:white;
		font-weight: bold;
		font-size:22px;
	}
#nav li{
	width:180px;
	height:50px;
	float:left;
	text-align: center;
	line-height: 50px;
}
#nav a{
	display:block;
	height:50px;
	font-size:20px;
	color:white;
}
#nav a:hover{
	background:white;
	color:rgb(75,179,68);
}
/*搜索框*/
.li_input{
	width:300px;
	height:50px;
}
.li_text{
	width:220px;
	height:50px;
	line-height: 50px;
	float:left;
}
.li_text input{
	width:190px;
	padding-left:20px;
	height:38px;
	line-height: 38px;
	border-radius: 10px;
}
.li_button{
	width:80px;
	height:50px;
	line-height: 50px;
	float:left;
}
.li_button input{
	width:80px;
	height:45px;
	font-size:20px;
	border-radius: 10px;
	border-top: 5px solid rgb(75,179,68);
	cursor:pointer;
	background: white;
	color:rgb(75,179,68);
}
	/*搜索框专用*/
	.addWidth{
		width:300px;
	}
/* ========== */
/* = 导航栏结束 = */
/* ========== */

/*小插件开始*/
#top_top{
	/*display: block;*/
	width:50px;
	height:50px;
	position:fixed;
	border-radius: 25px;
	background: white;
	bottom:50px;
	right:50px;
	z-index: 99;
	display:none;
}
#top_weixin{
	background: white;
	width:50px;
	height:50px;
	border-radius: 25px;
	position:fixed;
	bottom:110px;
	right:50px;
	z-index: 99;
	display:none;
}
#top_iphone{
	background: white;
	width:50px;
	height:50px;
	border-radius: 25px;
	position:fixed;
	bottom:170px;
	right:50px;
	z-index: 99;
	display:none;
}
#top_top img{
	width:100%;	border-radius: 25px;
}
#top_weixin img{
	width:100%;
	border-radius: 25px;
}
#top_iphone img{
	width:100%;
	border-radius: 25px;
}
#kongbai_1 img{
	width:100%;
	height:100%;
}
#kongbai_weixin{
	width:220px;
	height:200px;
	background: red;
	float:left;
	position:fixed;
	right:120px;
	bottom:50px;
	z-index: 99;
	display:none;
}
#kongbai_iphone{
	width:200px;
	height:110px;
	padding:10px;
	background: #4BB344;
	float:left;
	position:fixed;
	right:120px;
	bottom:160px;
	z-index:99;
	display:none;
}
#kongbai_iphone h5,#kongbai_iphone p{
	color:white;
	font-size: 20px;
}
#kongbai_iphone p{
	font-weight: 600;
	margin-top:5px;
}
#kefu{
	width: 130px;
	height: 180px;
	position: fixed;
	z-index:100;
	left: 0;
	top: 220px;
	border-radius: 3px;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	background-color: #EEECED;
	font-size: 12px;
	text-overflow:ellipsis;
	padding:0 ;
	margin: 0;
}
.tact{
	width: 130px;
	height: 30px;
	position: relative;
}
.tact img{
	width: 130px;
	height: 30px;
}
#cancel{
	width: 27px;
	height: 27px;
	font-weight: 800;
	display: inline-block;
	background-color:#7eb47a;
	color: white;
	text-align: center;
	line-height: 30px;
	cursor:pointer;
	position: absolute;
	right: 0;
	top:0;
}
.times{
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	padding-left: 8px;
	margin-bottom: 8px;
}
.kefu_0{
	width: 130px;
	height: 60px;
	display: block;
}
.kefu_0 img {
	width: 130px;
	height: 60px;
	border-radius: 3px;
}
#gzsj{
	text-align:center;
	width: 130px;
	height: 20px;
	line-height: 18px;
	font-size:1em;
	/*white-space: nowrap;*/
	padding: 0;
	margin: 0;
    transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform:scale(0.8);
    -moz-transform: scale(0.8);
    filter: progid:DXImageTransform.Microsoft.Matrix(
                        M11=1.05,
                        M12=0,
                        M21=0,
                        M22=1.05,
                        SizingMethod='auto expand');
}
/*小插件结束*/
/* ========== */
/* = 尾部开始 = */
/* ========== */
#footer{
	width:100%;
	height:250px;
	padding-top:25px;
	background: rgb(230,230,230);
}
.footer{
	height:250px;
}
/*尾部左侧栏*/
.footer_LBox{
	float:left;
	width:600px;
	height:220px;
	text-align: center;
	padding-top:30px;
	padding-right:60px;
}
.footer_LBox img{
	width:300px;
}
.footer_LBox p{
	line-height: 35px;
	text-indent: 2em;
}

/*尾部右侧栏*/
.footer_RBox{
	float:left;
	width:490px;
	height:250px;
}
.footer_RBox ul{
	width:490px;
	height:250px;
}

.footer_RBox ul li{
	width:490px;
	height:60px;
	line-height: 40px;
}
.footer_RBox_img{
	float:left;
	width:40px;
	height:18px;
	padding-top:10px;
	padding-left:12px;
	line-height: 60px;
}
.footer_RBox_img img{width:100%;}
.footer_RBox_span{
	float:left;
	width:410px;
	padding-left:20px;
	height:60px;
	font-size: 16px;
	line-height: 60px;
	
}
/*最底部*/
#footer_1{
	width:100%;
	height:40px;
}
.footer_1{
	height:40px;
	margin:0 auto;
	text-align: center;
	color:white;
	line-height: 40px;
	font-size: 12px;
}
.footer_1 a{
	color:white;
	margin-left:30px;
	margin-right:30px;
	
}

.picture img {
    width: 100%;
    height: 400px;
}



