            <div class="information">
                <div class="contain">Contact information</div>
                <div><img src="__PUBLIC__/Uploads/{$enfileData[7][urlimg]}" alt=""></div>
                <div>
                    <p>{$eninfo.name}</p>
                    <ul>
                        <li><span>Contact：</span>{$eninfo.name}</li>
                        <li><span>Q&nbsp; &nbsp;&nbsp;Q：  </span>{$eninfo.qq}</li>
                        <li><span>Telephone：</span>{$eninfo.phone}</li>
                        <li><span>WeChat：</span>{$eninfo.name}</li>
                        <li><span>Mailbox：</span>{$eninfo.email}</li>
                        <li><span>Address：</span>{$eninfo.address}</li>
                    </ul>
                </div>
            </div>