            <div class="information">
                <div class="contain">联系方式</div>
                <div><img src="__PUBLIC__/Uploads/{$cnfileData[7][urlimg]}" alt=""></div>
                <div>
                    <p>{$cninfo.name}</p>
                    <ul>
                        <li><span>联系人：</span>{$cninfo.name}</li>
                        <li><span>Q&nbsp; &nbsp;&nbsp;Q：  </span>{$cninfo.qq}</li>
                        <li><span>电&nbsp;&nbsp;话：</span>{$cninfo.phone}</li>
                        <li><span>微&nbsp;&nbsp;信：</span>{$cninfo.name}</li>
                        <li><span>邮&nbsp;&nbsp;箱：</span>{$cninfo.email}</li>
                        <!--<li><span>网&nbsp;&nbsp;址：</span></li>-->
                        <li><span>地&nbsp;&nbsp;址：</span>{$cninfo.address}</li>
                    </ul>
                </div>
            </div>