<!--导航栏开始-->
<div id="nav" class="bg">
    <ul class="w">
        <li><a href="./index.html">首页</a></li>
        <li><a href="./introduction.html">公司简介</a></li>
        <li><a href="./news.html">新闻中心</a></li>
        <li><a href="./product.html">产品展示</a></li>
        <li><a href="./contact.html">联系我们</a></li>
        <li class="addWidth">
            <div class="li_input">
                <div class="li_text"><input type="text" name="" id="" value="" /></div>
                <div class="li_button"><input type="button" name="" id="" value="搜索" /></div>
            </div>
        </li>
    </ul>
</div>