<!--头部开始-->
<div id="header">
    <div class="header w">
        <div class="header_logo floatL"><img src="__PUBLIC__/Uploads/{$cnfileData[0][urlimg]}"></div>
        <div class="header_iphone floatL">
            <p>24小时服务热线</p>
            <p class="green bg">{$cninfo.phone}</p>
        </div>
        <div class="header_choose floatL">
            <a class="black" href="{:U('Home/Index/index')}">中文</a>
            <span>/</span>
            <a href="{:U('Home/English/index')}">英文</a>
        </div>
    </div>
</div>
<!--导航栏开始-->
<div id="nav" class="bg">
    <ul class="w">
        <li><a href="{:U('Home/Index/index')}">首页</a></li>
        <li><a href="{:U('Home/Index/about')}">公司简介</a></li>
        <li><a href="{:U('Home/Index/news')}">新闻中心</a></li>
        <li><a href="{:U('Home/Index/product')}">产品展示</a></li>
        <li><a href="{:U('Home/Index/contact')}">联系我们</a></li>
        <li class="addWidth">
            <div class="li_input">
            <form action="{:U('Home/Index/product')}"  method="post">
            <div class="li_text"><input type="text" name="keywords" id="keywords" value="" placeholder="请输入关键词" /></div>
            <div class="li_button"><input type="submit" name="" id="" value="搜索" /></div></form>
            </div>
        </li>
    </ul>
</div>