    <include file = "Public/headertop" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/contact.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
    <script src="__PUBLIC__/js/jquery-1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/contact.js"></script>
    <script>
        window.onload = function(){
            showen();
        };
       $(document).ready(function () {
           showout();
           checkTArea();
           top_1();
       });
    </script>
</head>
<body>
<div id="main">
    <!--位置地图-->
<include file = "Public/nav" />
    <div id="mapCanvas" class="map-canvas no-margin">
        <script type="text/javascript">
            var map = new BMap.Map("mapCanvas"); // 创建Map实例
            var point = new BMap.Point("{$cninfo.longitude}","{$cninfo.latitude}"); // 创建点坐标
            map.centerAndZoom(point, 15); // 初始化地图,设置中心点坐标和地图级别。
            map.enableScrollWheelZoom(); //启用滚轮放大缩小
            //添加缩放控件
            map.addControl(new BMap.NavigationControl());
            map.addControl(new BMap.ScaleControl());
            map.addControl(new BMap.OverviewMapControl());

            var marker = new BMap.Marker(point); // 创建标注
            map.addOverlay(marker); // 将标注添加到地图中
            var infoWindow = new BMap.InfoWindow("{$cninfo.name}"); // 创建信息窗口对象
            marker.openInfoWindow(infoWindow);
        </script>
    </div>
    <div id="content">
        <!--左侧部分-->
        <div id="left">
            <!--左侧标题栏-->
            <span class="le-sp">
                <span class="ch">联系方式</span>
                <span class="en">/Contact us</span>
            </span>
            <!--右侧内容切换按钮-->
            <a href="#" id="le-a0" class="show">联系方式</a>
            <a href="#" id="le-a1">在线留言</a>
            <!--<div class="L_pic"><img src="img/contact.jpg"></div>-->
        </div>
        <!--右侧部分-->
        <div class="right">
            <!--右侧头部标题-->
            <div class="r-head">
            <span class="sp-l">
                <span class="ch">联系方式</span>
                <span class="en">/Contact us</span>
            </span>
            </div>
            <!--右侧公司信息-->
            <div id="infor">
            <!--公司信息-->
            <div class="about">
                <div class="ab-1">
                <h2>{$cninfo.name}</h2>
                <table>
                    <tr><td class="td0">联系人：</td><td class="td1">{$cninfo.contacts}</td></tr>
                    <tr><td class="td0">电&nbsp;&nbsp;&nbsp;话：</td><td class="td1">{$cninfo.phone}</td></tr>
                     <tr><td class="td0">Q&nbsp;&nbsp;&nbsp;Q：</td><td class="td1">{$cninfo.qq}</td></tr>
                    <tr><td class="td0">邮&nbsp;&nbsp;&nbsp;箱：</td><td class="td1">{$cninfo.email}</td></tr>
                    <tr><td class="td0">地&nbsp;&nbsp;&nbsp;址：</td><td class="td1">{$cninfo.address}</td></tr>
                </table>
                </div>
            </div>
            </div>
            <!--留言部分-->
            <div id="leave">
                <form id="form" class="l-form">
                    <table>
                        <tr><td class="td3">昵称：</td></tr>
                        <tr><td class="td4">电话：</td></tr>
                        <tr><td class="td5">地址：</td></tr>
                        <tr><td class="td6">邮箱：</td></tr>
                        <tr><td class="td2">留言：</td></tr>
                    </table>
                </form>
                <form class="r-form" method="post" action = "{:U('Home/Index/addLiuyan')}">
                    <input type="hidden" name="email" value="{$cninfo.email}">
                    <div class="hidd">留言</div>
                    <div class="in">
                        <input class="put1  userName" type="text" placeholder="昵称" id="userName"  onBlur="checkUserName()" name="username">
                        <span id="nameErr">请输入您的昵称</span></div>
                    <div class="in"><input class="put2 userName" type="text" placeholder="电话" id="userPhone"  onBlur="checkPhone()" name="userphone"><span id="phone">请输入11位电话号码</span></div>
                    <div class="in"><input class="put3" type="text" placeholder="地址" id="userArea" onblur="checkUserArea()" name="userarea"><span id="dizhi">请输入您的地址</span></div>
                    <div class="in"><input class="put4" type="text" placeholder="邮箱" id="userEmail" onblur="checkUserEmail()" name="useremail"><span id="emil">请输入您的邮箱</span></div>
                    <div class="in-text"><textarea typeof=""  rows="3" cols="25"  id="userText" onblur="checkText()"  name="usertext"></textarea><div class="s0"><span id="area">请输入留言内容</span></div></div>
                <button class="bg" id="#button">提交</button>
                </form>
            </div>
        </div>

    </div>
    <include file = "Public/footer" />