    <include file = "Public/headertop" title="{$data[name]}-{$cninfo.name}"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/details.css">
    <script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
    <script src="__PUBLIC__/js/jquery-1.8.3/jquery.min.js"></script>
<!--     <script src="__PUBLIC__/js/details.js"></script> -->
    <script>
        window.onload = function(){
            showen();
            dis();
        };
       $(document).ready(function () {
           top_1();
           changce();
       });
    </script>
</head>
<body>
<include file = "Public/nav" />
    <div class="content">
        <div class="left">
            <div id="small" class="pic_L"><volist name="imgurl" id="imgurl">
                <img src="__PUBLIC__/Uploads/{$imgurl}"></volist>
            <div id="mask" class="mask"></div>
            </div>
            <!--//鼠标跟随-->
        </div>
        <div class="right">
            <div id="hidr">
                <img src="">
            </div>
            <div class="r_head"><h2>{$data[name]}</h2><a class="a0" href="{:U('Home/Index/product')}">查看其他产品>></a></div>
            <div class="prise"><volist name="price" id="price"><input type="hidden" name="pri" class="pri" value="{$price}"> </volist>
            <span class="prise0"></span><span class="prise1">￥<span class="jqsp"></span>/吨</span>
            </div>
            <div class="yanse">
               <div class="yanse0">型号分类</div>
                <div class="yanse1">
                <volist name="xinghao" id="xinghao">
                    <span  class="ys0">{$xinghao}</span></volist>
                </div>
                <div class="clea0"></div>
            </div>
            <div class="r_a0">
                <a class="r_a1"  target="blank" href="tencent://message/?uin={$cninfo.qq}&Site=im.qq.com&Menu=yes">询问底价</a>
                <a class="r_a2" href="{:U('Home/Index/contact')}#">在线留言</a>
            </div>
            <div class="in_p">
            {$data[content]}
            </div>
        </div>
        <div class="clea"></div>
    </div>
    <script>
        //通过切换产品型号，修改展示图片
function changce() {
      var $ys = $(".yanse1");
      var $picl = $(".pic_L");
      var $price ={$price};
      var $jqsp = $(".jqsp");
      $jqsp.text($price[0]);
      $hidr = $("#hidr img");
      var $loat = $picl.children("img").eq(0).attr("src");
      $hidr.attr("src",$loat);
    $ys.children("span").click(function () {
            //点击相应按钮产品展示内容切换
            $picl.children("img").eq($(this).index()).show();
            $picl.children("img").eq($(this).index()).siblings().hide();
            $jqsp.text($price[$(this).index()]);
            var $url = $picl.children("img").eq($(this).index()).attr("src");
            $hidr.attr("src",$url);
        }
    );
}
//产品展示放大镜效果
function dis() {
    var small = document.getElementById("small");
    var mask = document.getElementById("mask");
    var hidr = document.getElementById("hidr");
    var hidimg = hidr.getElementsByTagName("img");
    small.onmouseenter=function(){
       mask.style.display = "block";
       hidr.style.display = "block";
    };
    small.onmouseleave=function(){
        mask.style.display = "none";
        hidr.style.display = "none";
    };
    small.onmousemove = function (event) {
        event = event || window.event;
        var pagex = event.pageX || scroll().left + event.clientX;
        var pagey = event.pageY || scroll().top + event.clientY;
        var x = pagex - small.offsetLeft - mask.offsetWidth/2;
        var y = pagey - small.offsetTop - mask.offsetHeight/2;
        // var x=window.pageXOffset+event.clientX-small.offsetLeft-mask.offsetWidth/2;
        // var y=window.pageYOffset+event.clientY-small.offsetTop-mask.offsetHeight/2;
        if(x<0){
            x = 0;
        }
        if(x>small.offsetWidth-mask.offsetWidth){
            x = small.offsetWidth-mask.offsetWidth;
        }
        if(y<0){
            y = 0;
        }
        if(y>small.offsetHeight-mask.offsetHeight){
            y = small.offsetHeight-mask.offsetHeight;
        }
        mask.style.left = x + "px";
        mask.style.top = y + "px";
        var bili = hidimg[0].offsetWidth/small.offsetWidth;
        var xx = bili*x;
        var yy = bili*y;
        hidimg[0].style.marginTop = -yy+"px";
        hidimg[0].style.marginLeft = -xx+"px";
    };
}
    </script>
 <include file = "Public/footer" />