    <include file = "Public/headertop" title="{$data[title]}-{$cninfo.name}"/>
    <link rel="stylesheet" href="__PUBLIC__/css/newspage.css">
	<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
    <script src="__PUBLIC__/js/jquery-1.8.3/jquery.min.js"></script>
    <script>
        window.onload = function(){
            showen();
        };
       $(document).ready(function () {
           top_1();
       });
    </script>
</head>
<body>
<include file = "Public/nav" />
<div class ="picture">
    <img src="__PUBLIC__/img/22400858.jpg" alt="">
</div>
<!--头部结束-->
<div class="container">
    <div class="title" id="sign"><h1>{$data[title]}</h1></div>
    <div class="main">
      <span>看点：</span>
       {$data[content]}
       </div>
    <div class="bottom">
        <div class="end">
            <p>THE&nbsp;END </p>
            <span>声明：本文来自媒体，不代表若普塑业的观点和立场。</span>
            <p><span>2018年11月18日</span></p>
        </div>
    </div>
</div>
<include file = "Public/footer" />