/*rgb(75,179,68)==#4BB344*/
#scrollimg{
	width:100%;
	height:500px;
	background: yellow;
}
#main{
	width:1200px;
	margin:0 auto;
}
#main ul{
	width:1200px;
	padding-top:50px;
	
}
/*公司简介*/
.main_1{
	width:1200px;
	height:600px;
	margin-bottom: 50px;
}
.main_1_top{
	height:48px;
	border-bottom: 2px solid green;
	line-height: 48px;
	/*margin-bottom: 50px; 注意修改bottom*/
}
.main_1_top img{
	width:48px;
	float:left;
}
.main_1_top p{
	float:left;
	font-size: 24px;
	margin-left:10px;
	/*color:#4BB344;*/
}
.main_1_bottom{
	width:1200px;
	height:550px;
}
.main_1_bottom_LBox{
	float:left;
	width:600px;
	height:550px;
	background: red;
}
.main_1_bottom_RBox{
	float:left;
	width:600px;
	height:550px;
	background: yellow;
}

/*产品展示*/
.main_2{
	width:1200px;
	height:700px;
}
.main_2_top{
	height:48px;
	border-bottom: 2px solid green;
	line-height: 48px;
	margin-bottom: 50px; 
}
.main_2_top img{
	width:42px;
	float:left;
}
.main_2_top p{
	float:left;
	font-size: 24px;
	margin-left:10px;
	/*color:#4BB344;*/
}
.main_2_bottom{
	width:1200px;
	height:600px;
}
.main_2_bottom_LBox{
	width:350px;
	height:600px;
	float:left;
	background: yellow;
}
.main_2_bottom_CBox{
	width:500px;
	height:600px;
	float:left;
	background: black;
}
.main_2_bottom_CTBox{
	width:500px;
	height:300px;
	background: red;
}
.main_2_bottom_CBBox{
	width:500px;
	height:300px;
	background: green;
}
.main_2_bottom_RBox{
	width:350px;
	height:600px;
	float:left;
	background: yellow;
}
