/*rgb(75,179,68)==#4BB344*/
/*轮播图开始*/
#lunbobox {
	width:100%;
	height:550px;
	position:relative;
}
.lunbo {
	width:100%;
	height:550px;
}
.lunbo img {
	width:100%;
	height:550px;
	position:absolute;
	top:0px;
	left:0px;
}
#lunbobox ul {
	width:285px;
	position:absolute;
	bottom:10px;
	right:50%;
	margin-right:-250px;
	z-index:5;
}
#lunbobox ul li {
	cursor:pointer;
	width:10px;
	height:10px;
	border-radius: 10px;
	border:1px solid #cccccc;
	float:left;
	list-style:none;
	background:#cccccc;
	text-align:center;
	margin:0px 20px 0px 0px;
}
#toleft,#toright {
	display:none;
	width:60px;
	height:500px;
	font-size:30px;
	line-height:500px;
	text-align:center;
	color:white;
    position:absolute;
	top:0px;
	cursor:pointer;
	z-index:99;
	opacity:0.4;
}
#toleft{
	left:12px;
}
#toright{
	right:12px;
}
/*轮播图结束*/

/*小插件*/
#top_1{
	display: block;
	width:50px;
	height:50px;
	position:fixed;
	bottom:50px;
	right:50px;
	display:none;
}
#top_2{
	display: block;
	width:60px;
	height:60px;
	position:fixed;
	bottom:110px;
	right:45px;
	display:none;
}
#top_3{
	display: block;
	width:55px;
	height:55px;
	position:fixed;
	bottom:180px;
	right:47px;
	display:none;
}
#top_1 img{
	width:100%;
}
#top_2 img{
	width:100%;
}
#top_3 img{
	width:100%;
}
#kongbai_1 img{
	width:100%;
	height:100%;
}
#kongbai_1{
	width:200px;
	height:200px;
	background: red;
	float:left;
	position:fixed;
	right:150px;
	bottom:50px;
	z-index: 99;
	display:none;
}


#main ul{
	padding-top:50px;
	
}
/*公司简介*/
.main_1{
	height:650px;
	margin-bottom: 50px;
}
.main_1_top{
	height:48px;
	border-bottom: 2px solid #4BB344;
	line-height: 48px;
	margin-bottom: 50px; 
}
.main_1_top img{
	width:48px;
	float:left;
}
.main_1_top p{
	float:left;
	font-size: 24px;
	margin-left:10px;
}
.main_1_bottom{
	height:550px;
}
.main_1_bottom_LBox{
	float:left;
	width:600px;
	height:550px;
	/*background: red;*/
}
.main_1_bottom_LBox img{
	width:100%;
	height:100%;
}
.main_1_bottom_RBox{
	float:left;
	width:560px;
	padding:0 20px;
	height:550px;
}
.main_1_bottom_RBox h1{
	font-size:25px;
	font-weight: 600;
	text-align: center;
	margin-bottom:20px;
}
.main_1_bottom_RBox p{
	font-size:20px;
	letter-spacing: 1.5px;
	line-height: 50px;
	text-indent: 2em;
}
.more{
	display: block;
	width:100px;
	height:45px;
	color:#4BB344;
	height:45px;
	border: 1px solid #4BB344;
	text-align: center;
	line-height: 45px;
	font-size:20px;
	margin:45px auto 0 auto;
	border-radius: 10px;
}
.main_1_bottom_RBox a:hover{
	border:none;
	background: #4BB344;
	color:white;
}

/*产品展示*/
.main_2{
	height:555px;
	margin-bottom: 50px;
}
.main_2_top{
	height:48px;
	border-bottom: 2px solid #4BB344;
	line-height: 48px;
	margin-bottom: 50px; 
}
.main_2_top img{
	width:42px;
	float:left;
}
.main_2_top p{
	float:left;
	font-size: 24px;
	margin-left:10px;
}
.main_2_bottom{
	height:500px;
	position: relative;
	overflow: hidden;
}
.main_2_bottom ul{
	overflow: hidden!important;
	position:absolute;
	height:502px;
	border-bottom: 1px solid #4BB344;
	
	padding:0!important;
}

.main_2_bottom ul li{
	float: left;
	width: 350px;
	height:498px;
	border:1px solid #4BB344;
	border-bottom:1px solid #4BB344!important;
    margin-left:40px;
    position:relative;
}
.main_2_bottom ul li img{
	width:350px;
	height:350px;
	
}
.main_2_bottom ul li h4{
	font-size:24px;
	text-align: center;
	font-weight: 500;
	width:350px;
	height:50px;
	z-index: 99;
	position:absolute;
	bottom:15%;
}
.main_2_bottom ul li a{
	background:#4BB344;
	padding:5px 20px;
	color:#fff;
	border:1px solid transparent;
	border-radius:20px;
	height:30px;
	line-height: 30px;
	position:absolute;
	left:50%;
	margin-left:-49px;
	bottom:5%;
}


/*企业优势*/
.main_3{
	height:500px;
	text-align: center;
}
.main_3_bottom{
	height:400px;
}
.main_3_bottom_Box{
	float:left;
	width:380px;
	height:400px;
	padding:0 10px;
}
.main_3_bottom_Box p{
	margin-top:50px;
}
/*新闻资讯*/
.main_4{
	height:600px;
}
.main_4_center{
	height:360px;
}

.main_4_center_Box{
	float:left;
	padding:0 30px;
	width:340px;
	height:360px;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}
.main_4_center_Box h6{
	font-size:18px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 60px;
	padding:0 20px;
}
.main_4_center_Box p{
	height:140px;
	color:#787878;
	line-height: 34px;
	text-indent:2em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main_4_center_Box img{width:100%;}

.main_4_bottom a:hover{
	border:none;
	background: #4BB344;
	color:white;
}
