#main{
    width: 100%;
    height: 2250px;
    background-color: #F7F7F7;
    padding-bottom: 40px;
    position: relative;
}
#header{
    background-color: white!important;
}
#content{
    width: 1200px;
    height: 1350px;
    margin: 20px  auto;
    background-color: #ffffff;
}
.back{
    width: 100%;
    height: 400px;
    background-image: url("../img/product.jpg");
}
.content  a:hover{
    text-decoration: none;
}
/*左侧部分*/
#left{
    height: 700px;
    width: 270px;
    float: left;
    margin-left: 30px;
}
/*左侧标题栏*/
.le_sp{
    width:250px ;
    height: 60px;
    margin-top: 20px;
    display: block;
    line-height: 60px;
    border-bottom:#EAEAEA solid  1px;
    background-color: #4BB344;
    color: white;
    text-align: center;

}
.ch{
    padding-left: 8px;
    font-size: 18px;
    font-weight: 600;
}
/*右侧切换按钮*/
#left a{
    display: block;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 16px;
    background-color: #F6F6F6;
    border-bottom: 1px dashed  #C0C0C0;
}
#left a:hover{
    background-color:  #4BB344;
    color: #ffffff;
}
.L_a{
    height: 260px;
    width: 250px;
    background-color: #F6F6F6;
}
.show{
    background-color:  #4BB344!important;
    color: #ffffff!important;
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    font-size: 16px;
}
/*右侧部分*/
.right{
    width:870px;
    /*height: 1350px;*/
    float: right;
    margin-top: 10px;
}
/*右侧头部标题栏*/
.r_head{
    width:840px ;
    height: 50px;
    margin-top: 20px;
    line-height: 60px;
    border-bottom:#EAEAEA solid  1px;
}
.sp_l{
    width:300px ;
    height: 50px;
    display: block;
    float: left;
}
/*右侧公司产品部分*/
.hid{
    width: 840px;
    height: 1250px;
    overflow: hidden;
    position: relative;
}
.pro1,.pro2,.pro3,.pro4,.pro5{
    width: 840px;
    height: 1150px;
}
.pic{
    width: 254px;
    height: 334px;
    margin-right: 18px;
    margin-top: 30px;
    float: left;
    border:1px solid #CCCCCC;
}
.pic_pic{
    height: 220px;
    width: 254px;
    overflow: hidden;
    position: relative;
}
.pic_pic img{
    height: 220px;
    width: 254px;
    position: absolute;
    top:0;
    left: 0;
}
.pic h2{
    width: 254px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px  solid  #CCCCCC;
}
h2:hover  a{
    color:#4BB344 ;
}
.pic_a{
    display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    margin-left: 140px;
    text-align: center;
    line-height: 40px;
}
.pic_a:hover{
    background-color: #4BB344;
    color: white;
}
.pro2,.pro3,.pro4,.pro5{
    display: none;
}
/*页面跳转样式*/
.new-pagefoot {
    position:absolute;
    bottom:70px;
    left:300px;
    width:190px ;
    height: 13px;
    font:500 13px/13px "微软雅黑";
}
.lastpage {
    float:left;
    width:50px;
    height: 30px;
    text-align:center;
}
.one {
    float:left;
    width:30px;
    height: 30px;
    text-align:center;
}
.two {
    float:left;
    width:30px;
    height: 30px;
    text-align:center;
}
.three {
    float:left;
    width:30px;
    height: 30px;
    text-align:center;
}
.nextpage {
    float:left;
    width:50px;
    height: 30px;
    text-align:center;

}