    <include file = "Public/headertop" title="{$data[title]}-{$eninfo.name}"/>
    <link rel="stylesheet" href="__PUBLIC__/css/newspage.css">
    <script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
    <script src="__PUBLIC__/js/jquery-1.8.3/jquery.min.js"></script>
    <script>
        window.onload = function(){
            showen();
        };
       $(document).ready(function () {
           top_1();
       });
    </script>
</head>
<body>
<include file = "Public/ennav" />
<div class ="picture">
    <img src="__PUBLIC__/Uploads/{$enfileData[5][urlimg]}" alt="新闻中心">
</div>
<!--头部结束-->
<div class="container">
    <div class="title" id="sign"><h1>{$data[title]}</h1></div>
    <div class="main">
      <span>watching focus：</span>
       {$data[content]}
       </div>
    <div class="bottom">
        <div class="end">
            <p>THE&nbsp;END </p>
            <span>Disclaimer: this article comes from media, do not represent the viewpoint of joop plastics industry and standpoint.</span>
            <p><span class="sj">{$data[time]}</span></p>
        </div>
    </div>
</div>
<script>
          var times = document.getElementsByClassName("sj");
        for(var i = 0;i<times.length;i++){
        times[i].innerText =  timestampToTime(times[i].innerText)
        //console.log(times[i].innerText);
}
    function timestampToTime(timestamp) {
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '/';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1)+ '/';
        D = date.getDate() + ' ';
        return Y+M+D;
    }
</script>
<include file = "Public/enfooter" />